<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NextBody</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <div class="page-header">
        <h1>NextBody <small>Welcome to nextbody homepage, <%= username %> (accessToken : <%=accessToken %>)</small></h1>
      </div>
      <nav>
        <ul class="nav nav-pills">
          <li role="presentation" class="<%= ('home' == type) ?  'active' : '' %>">
            <a href="/home<% if (accessToken) { %>?access_token=<%= accessToken %> <% } %>">Home</a>
          </li>
          <li role="presentation" class="<%= ('my-reports' == type) ?  'active' : '' %>">
            <a href="/my-reports<% if (accessToken) { %>?access_token=<%= accessToken %> <% } %>">My reports</a>
          </li> 
          <li role="presentation" class="<%= ('all-reports' == type) ?  'active' : '' %>">
            <a href="/all-reports<% if (accessToken) { %>?access_token=<%= accessToken %> <% } %>">All reports</a>
          </li>
          <li role="presentation" class="<%= ('all-files' == type) ?  'active' : '' %>">
            <a href="/all-files<% if (accessToken) { %>?access_token=<%= accessToken %> <% } %>">All files</a>
          </li>
          <li role="presentation" class="<%= ('add-report' == type) ?  'active' : '' %>">
            <a href="/add-report<% if (accessToken) { %>?access_token=<%= accessToken %> <% } %>">Add report</a>
          </li>
          <li role="presentation" class="<%= ('add-file' == type) ?  'active' : '' %>">
            <a href="/add-file<% if (accessToken) { %>?access_token=<%= accessToken %> <% } %>">Add file</a>
          </li>
          <li role="presentation" class="<%= ('add-reportnfile' == type) ?  'active' : '' %>">
            <a href="/add-reportnfile<% if (accessToken) { %>?access_token=<%= accessToken %> <% } %>">Add reportnfile</a>
          </li>
          <li role="presentation">
            <a href="/logout?access_token=<%= accessToken %>">Log out</a>
          </li>
        </ul>
      </nav>
    </header>
    <br>
